name: Merge check
on: [push, pull_request]
jobs:
  build:
    name: Merge check
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.20
      uses: actions/setup-go@v1
      with:
        go-version: 1.20
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1

    - name: Build
      run: go build -v .

    - name: Fmt
      run: |
        bash scripts/ci/formatChecker.sh
    - name: Misspell
      run: |
        go get -u github.com/client9/misspell/cmd/misspell
        bash scripts/ci/formatChecker.sh
    - name: Lint
      run: |
        go get -u golang.org/x/lint/golint
        bash scripts/ci/goLintChecker.sh
    - name: UT
      run: |
        go get github.com/stretchr/testify
        go get golang.org/x/tools/cmd/cover
        bash scripts/ci/unit_test.sh
